html, body {
  height: 100%;
}

.md-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.md-main {
  flex: 1 1 auto;
  overflow-y: auto;
}

.md-sidebar__scrollwrap {
  max-height: calc(100vh - 64px); /* header height */
  overflow-y: auto;
}

.md-footer {
  margin-top: auto;
}
