name: Build & Test Python Package

on:
  push:
    branches:
      - main
    paths:
      - '**.yml'
      - '**.py'
      - pyproject.toml
      - '**.sh'
      - '**.html'
  pull_request:
    paths:
      - '**.yml'
      - '**.py'
      - pyproject.toml
      - '**.sh'
      - '**.html'

jobs:
  code-quality:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install Build Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install uv
        uv pip install build ruff pytest

    - name: Lint with Ruff
      run: uv run ruff check .

  test-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install Build Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install uv
        uv pip install build pytest
    
    - name: Build Package
      run: python -m build
    
    - name: Test CLI Command
      run: |
        uv pip install .
        uv run testdoc --help

    - name: Run Unit Tests
      run: uv run pytest atest/
  
